/* import fonts from google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* css reset */

* {
    padding: 0;
    margin: 0;
    font-size:100%;
    line-height: lem;
}
 
/* default styles for whole page */
body {
    color:#101010;
    border-color: #101010;
    background-color: #ffffff;
}

/* content container to centre content */ 
.container {
    max-width: 1020px;
    margin: 0 auto 0 auto; 
}

/* default styling for headings */
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
    font-weight: 700;
}

/* specific styles */
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
}
h2 { 
    font-size: 2.25rem;
    margin-bottom: .5rem; 
}